includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - app/

    level: 5

    checkModelProperties: true

    scanFiles:
        - _ide_helper_models.php
        - _ide_helper.php
