@import "tailwindcss";

.event-comment a {
    @apply underline decoration-dotted hover:decoration-solid
}

#editor *{
    font-family: "Courier New", monospace !important;
    font-size: 10pt !important;
  }

.ace-editor *{
    font-family: "Courier New", monospace !important;
    font-size: 10pt !important;
}

.inset-l-full {
    left: 100%;
}
